@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.project-card {
  @apply flex flex-col rounded-xl
          transition duration-200 transform border border-gray-400
          hover:scale-105
          hover:shadow-2xl
          dark:border-gray-200/50
          dark:hover:shadow-gray-400/40
}


.project-card img {
  width: 100%;
  height: auto;
}


.text-container {
  position: absolute;
  bottom: 0;
}